@CHARSET "UTF-8";
#userPanel h1,  #userPanel form, #userPanel p {
	display: inline;
}

#userPanel p, #uploadForm {
	margin-left: 1px;
}

input[type=submit]{
	border: none;
	cursor: pointer;
	color: white;
	background-color: #00cc07;
	border-radius: 15px;
	padding: 8px;
}

table, td {
	border: 1px solid black;
}

thead {
	text-align: center;
}

table {
	width: 100%;
	height: 100%;
	table-layout: fixed;
}

.numberColumn {
	width: 2%;
	text-align: center;
}

td input {
	width: 100%;
	box-sizing: border-box;
}
