@CHARSET "UTF-8";
#userPanel h1,  #userPanel form, #userPanel p {
	display: inline;
}

#userPanel p, #uploadForm {
	margin-left: 1px;
}

input[type=submit]{
	border: none;
	cursor: pointer;
	color: white;
	background-color: #00cc07;
	border-radius: 15px;
	padding: 8px;
}
