form {
	margin-left: 1%;
}

input[type=text], input[type=password], input[type=email] {
    width: 50%;
    padding: 5px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #1bc0bd;
    color: white;
    padding: 14px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 50%;
	display: block;
}

button:hover {
	opacity: 0.9;
}
