<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Home</title>
    <link href="../static/css/homeCSS.css" th:href="@{/css/homeCSS.css}" rel="stylesheet" />
  </head>
  <body>
  	<div id="userPanel">
	    <h1>Welcome <span th:text="${user.name}"></span>!</h1>
	   	<form id="logoutForm" th:action="@{/logout}" method="post">
	   		<input type="submit" value="Log Out"/>
	    </form>
	    <p th:if="${message}" th:text="${message}"></p>
	    <form id="uploadForm" th:action="@{/upload}" method="post" enctype="multipart/form-data">
	    	<input type="file" name="file" accept=".xls,.xlsx" />
	    	<input type="submit" name="uploadButton" value="Upload"/>
	    </form>
	    <form th:action="@{/download}" method="get">
	    	<input type="submit" value="Download"/>
	    </form>
	</div>
	<div id="globalTable">
		<table>
			<thead>
				<tr>
					<td class="numberColumn">No.</td>
					<th:block th:if="${excelSheet}" th:each="row : ${excelSheet}">
						<td th:each="cell,cellIterStatus : ${row.value}" 
						th:text="${cellIterStatus.count}"></td>
					</th:block>
				</tr>
			</thead>
			<tbody th:if="${excelSheet}">
				<tr th:each="row,rowIterStatus : ${excelSheet}">
					<td class="numberColumn" th:text="${rowIterStatus.count}"></td>
					<td th:each="cell,cellIterStatus : ${row.value}">
						<span >
							<input th:style="'background-color:'+${cell.bgColor}
											+';color:'+${cell.textColor}
											+';text-decoration:'+${cell.textDecoration}
											+';font-style:'+${cell.fontStyle}
											+';font-weight:'+${cell.textWeight}+';font-size:'+${cell.textSize}+'pt;'" type="text" name="${rowIterStatus.count} + '-' + ${cellIterStatus.count}" th:value="${cell.content}" />
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
  </body>
</html>